.navbar{
    border-radius: 0;
    margin-bottom: 0;
}


/* .container-fluid{
    min-height  : 40px;
    padding: 0;
    margin: 0;
} */




.glyphicon{
    margin-right: 5px;
}


footer{
    background-color: #f2f2f2;
    padding: 15px;
}